  <%= comment.commenter %> says:
  <p><%=comment.body %></p>
  <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago.</strong></br>

 
  <p>
    <% if current_user.username==comment.commenter %>
      <%= link_to 'Delete',[current_user,comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
